extends ../layout

block content
  .page-header
    h3 Users
    table.table
        thead
            tr
                th
                th Email
                th Name
                th Last Login
                th Admin
                th History
                th Live
                th Tags
                th Pruned
        tbody
            each val in users
                tr
                    td
                        img(src='#{val.profile.picture}')
                    td #{val.email}
                    td #{val.profile.name}
                    td #{val.lastLogin}
                    td
                        input(type='checkbox',name='admin' checked=val.admin onchange='updateRights("#{val.id}", "admin",  this.checked);')
                    td
                        input(type='checkbox',name='history', checked=val.history onchange='updateRights("#{val.id}", "history",  this.checked);' )
                    td
                        input(type='checkbox',name='live', checked=val.live onchange='updateRights("#{val.id}", "live",  this.checked);' )
                    td
                        input(type='checkbox',name='tags', checked=val.live onchange='updateRights("#{val.id}", "tags",  this.checked);' )
                    td
                        input(type='checkbox',name='pruned', checked=val.live onchange='updateRights("#{val.id}", "pruned",  this.checked);' )


block scripts
    script(src='/js/admin.js')
